body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 30%;
    background-color: gray;
    border: black solid 4px;
    border-radius: 16px;
}

.display {
    align-self: center;
    text-align: right;
    margin: 5% 5%;
    padding: 0 5%;
    box-sizing: border-box;
    background-color: cornsilk ;
    border: orange solid 1px;
    border-radius: 16px;
    width: 90%;
    font-size: 36px;
}

.body {
    display: flex;
    margin: 0 5%;
    flex: 1 1 400px;
    width: 90%;
    justify-content: center;
}

.digits {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    padding: 5% 0;
    box-sizing: border-box;
}

.row {
    flex: 0.3 0.3 30%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.row button {
    width: 34%;
    background-color: black;
    color: white;
}

.row .zero {
    width: 50%;
}

#clear {
    width: 50%;
    background-color: red;
}

.functions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 20%;
    padding: 5% 0;
    box-sizing: border-box;
}

.functions button {
    height: 20%;
    background-color: orange;
    color: white;
}

button {
    font-size: 24px;
    border: white solid 2px;
    border-radius: 8px;
    margin: 4px;
}